<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets"  xmlns:gap="http://phonegap.com/ns/1.0" id="com.hopedoctor.patient" version="1.1.1">
 
    <name>Hope Doctors</name>
    <preference name="orientation" value="default" />
    <preference name="fullscreen" value="false" />
	<preference name="SplashScreen" value="splash" />
	<preference name="SplashScreenDelay" value="10000"/>
	
    <gap:platform name="ios" />
    <gap:platform name="android" />
    <description>
      Hope Doctors Health App
    </description> 
    <author href="http://www.arth.tech" email="support@arth.tech">
    </author>
    <icon src="icon.png" />
	
	
	<platform name="android">
	<splash src="splash/splash.png" />
	<splash src="splash/drawable-port-ldpi-screen.png" platform="android" qualifier="ldpi" />
	<splash src="splash/drawable-port-mdpi-screen.png" platform="android" qualifier="mdpi" />
	<splash src="splash/drawable-port-hdpi-screen.png" platform="android" qualifier="hdpi" />
	<splash src="splash/drawable-port-xhdpi-screen.png" platform="android" qualifier="xhdpi" />
<!-- 	<splash src="splash/fr-xhdpi.png" platform="android" qualifier="fr-xhdpi" /> -->
	<splash src="splash/drawable-port-xxhdpi-screen.png" platform="android" qualifier="port-xxhdpi" />
  </platform>
	
	
	
	
	
	
	
	
	
	
	
<!-- 	<splash src="splash/landscape-xxhdpi.png" platform="android" qualifier="land-xxhdpi" /> -->
	
<!--    
    <icon src="icon-57.png" platform="ios" width="57" height="57" />
     iPad 
    <icon src="icon-72.png" platform="ios" width="72" height="72" />
    <icon src="icon-76.png" platform="ios" width="76" height="76" />
    <icon src="icon-120.png" platform="ios" width="120" height="120" />
    <icon src="icon-152.png" platform="ios" width="152" height="152" />

    <splash src="splash/ios/Default.png" platform="ios" width="320" height="480" />
    <splash src="splash/ios/Default2x.png" platform="ios" width="640" height="960" />

     iPhone 5 / iPod Touch (5th Generation) 
    <splash src="splash/ios/Defaulti5.png" platform="ios" width="640" height="1136" />

     iPhone 6 
    <splash src="splash/ios/Defaulti6.png" platform="ios" width="750" height="1334" />
    <splash src="splash/ios/Defaulti6p.png" platform="ios" width="1242" height="2208" />
   
     iPad 
    <splash src="splash/ios/Defaultip.png" platform="ios" width="768" height="1024" />
  
         Retina iPad 
        <splash src="splash/ios/Defaultipr.png" platform="ios" width="1536" height="2048" />
    -->
    <preference name="phonegap-version" value="cli-6.0.0" />
    <preference name="webviewbounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="UIWebViewBounce" value="false" />
    
    <plugin name="Cordova-Plugin-OpenTok-JBS" version="1.0.0" source="npm" />
    <gap:plugin name="de.appplant.cordova.plugin.printer" />
    <!--<plugin name="org.crosswalk.engine" spec="1.3.0" source="pgb" />-->
    <gap:plugin name="cordova-plugin-crosswalk-webview" source="npm" />
    <gap:plugin name="org.apache.cordova.splashscreen" source="npm" />
    <gap:plugin name="org.apache.cordova.inappbrowser" source="npm" />
    <gap:plugin name="org.apache.cordova.file" source="npm" />
    <gap:plugin name="org.apache.cordova.file-transfer" source="npm" />
    <gap:plugin name="org.apache.cordova.camera" source="npm" />
    <gap:plugin name="org.apache.cordova.device" source="npm" />
    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <gap:plugin name="cordova-plugin-x-toast" source="npm" />
    <gap:plugin name="org.apache.cordova.statusbar" source="npm" />
   <!--  <plugin name="com.onesignal.plugins.onesignal" spec="1.9.0" source="pgb" /> -->
   <gap:plugin name="onesignal-cordova-plugin" source="npm" />
    <gap:plugin name="cordova-plugin-network-information" source="npm" />
    <gap:plugin name="de.appplant.cordova.plugin.hidden-statusbar-overlay"  version="1.2.0" />
    <!-- <gap:plugin name="com.pushwoosh.plugins.pushwoosh" version="3.4.2" />-->
    
    <access origin="*"/> <!-- allow all pages, use for development -->
    <allow-navigation href="*" />
    
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="loadUrlTimeoutValue" value="700000" />
    <!--    <plugin name="com.tokbox.cordova.opentok" spec="1.0.3" source="pgb" />-->

    
    

</widget>